<div class="col-xs-3">
	<h2>User info</h2>
	<%= attachment_image_tag user, :profile_image, size: '100x100', fallback: 'no_image.jpg' %>
	<table class="table">
		<tbody>
			<tr>
				<th>name</th>
				<th><%= user.name %></th>
			</tr>
			<tr>
				<th>introduction</th>
				<th><%= user.introduction %></th>
			</tr>
		</tbody>
	</table>
	<div class="row">
	  	<% if user.id == current_user.id %>
	    	<%= link_to "", edit_user_path(user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
	    <% end %>
	</div>

	<h2>New book</h2>
		<%= form_for(book) do |f| %>
	  <div class="field row">
	  	<h4>Title</h4>
	  	<%= f.text_field :title, class:"col-xs-12" %>
	  </div>
	  <div class="field row">
	  	<h4>Opinion</h4>
	  	<%= f.text_area :body, class:"col-xs-12" %>
	  	<br>
	  </div>
	  <div class="actions row">
	  	<br>
	  	<%= f.submit 'Create Book', class:"btn btn-primary col-xs-12" %>
	  </div>
	<% end %>
</div>